node_modules
.env
.DS_Store
OPENAI_API_KEY=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
TWILIO_AUTH_TOKEN=74c98ee83c3d2697aea1def535587fd4
PORT=10000
